@using System.Threading.Tasks
@using AbpAspNetCoreDemo.Models.ValidationTest
@model AbpAspNetCoreDemo.Models.ValidationTest.IndexViewModel

<h2>@ViewBag.Message</h2>

    <p>Validation succeed. Values:</p>

    <ul>
        <li>Name: @Model.Name</li>
        <li>Age: @Model.Age</li>
        <li>ValueToBeNormalized: @Model.ValueToBeNormalized</li>
    </ul>