<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="AutoMapper" version="3.1.1" targetFramework="net451" />
  <package id="bootstrap" version="3.0.3" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net451" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net451" />
  <package id="Durandal" version="2.0.1" targetFramework="net451" />
  <package id="Durandal.Transitions" version="2.0.1" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net451" />
  <package id="Fancybox" version="2.1.5" targetFramework="net451" />
  <package id="FontAwesome" version="4.0.3.1" targetFramework="net451" />
  <package id="jQuery" version="2.1.0" targetFramework="net451" />
  <package id="jQuery.BlockUI" version="2.66" targetFramework="net451" />
  <package id="jQuery.Form" version="3.46" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net451" />
  <package id="json2" version="1.0.2" targetFramework="net451" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net451" />
  <package id="knockoutjs" version="3.0.0" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Facebook" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Google" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Twitter" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.7.1" targetFramework="net451" />
  <package id="Moment.js" version="2.5.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="RecaptchaNet" version="1.3" targetFramework="net451" />
  <package id="RequireJS" version="2.1.10" targetFramework="net451" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net451" />
  <package id="Respond" version="1.3.0" targetFramework="net451" />
  <package id="toastr" version="2.0.1" targetFramework="net451" />
  <package id="underscore.js" version="1.5.2" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net451" />
  <package id="WebGrease" version="1.6.0" targetFramework="net451" />
</packages>