<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="System.Collections" version="4.0.10" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net461" />
  <package id="System.Linq" version="4.0.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading" version="4.0.10" targetFramework="net461" />
</packages>