@page
@model AbpAspNetCoreDemo.Pages.AuditFilterPageDemo3Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuditFilterPageDemo3</title>
</head>
<body>
</body>
</html>
