@page
@model AbpAspNetCoreDemo.Pages.AuditFilterPageDemo2Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuditFilterPageDemo2</title>
</head>
<body>
</body>
</html>
