@page
@model AbpAspNetCoreDemo.Pages.AuditFilterPageDemo4Model
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuditFilterPageDemo4</title>
</head>
<body>
</body>
</html>
