@page
@model AbpAspNetCoreDemo.Pages.AuditFilterPageDemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuditFilterPageDemo</title>
</head>
<body>
    <p>@Model.Message</p>
</body>
</html>
