@page
@model AbpAspNetCoreDemo.Pages.ExceptionFilterPageDemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExceptionFilterPageDemo</title>
</head>
<body>
</body>
</html>
