@page
@using Microsoft.AspNetCore.Antiforgery
@model AbpAspNetCoreDemo.Pages.RazorPageDemo
@inject IAntiforgery AntiForgery
@AntiForgery.GetAndStoreTokens(HttpContext)

<p>
    This is a demo to test Razor page functionality!
</p>
