@page
@model AbpAspNetCoreDemo.Pages.UowFilterPageDemo3
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UowFilterPageDemo3</title>
</head>
<body>
    Razor page unit of work filter example
</body>
</html>
