@section styles {
    <link rel="stylesheet" href="~/Views/Blog/Index.css" />
}

@section scripts {
    <script src="~/Views/Blog/Index.js"></script>
}

<h2 id="BlogModuleTitle">Blog plugin page</h2>

<p>A sample embedded image:</p>

<p><img src="~/Views/Blog/abp.png" height="116" width="116" /></p>