<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<License Value="110477-ZE2PMQQQXTQETFQCB88YNBFRY2EZYDACVG6CWCAWZM8BXNHRB2KUNTGVS4AXTQDRT6ZTZGQ7HQ6RP2J9Q7BANARAZ7CMWEATXH6BLAJ458AH4J8BNNCMUKLTTXJ54DKR96A6TSQQBUE2GDWQP3" />
	<Multicast>
		<AuthorizationAspectProvider xmlns="clr-namespace:Abp.Authorization;assembly:Abp" />
		<AuditingAspectProvider xmlns="clr-namespace:Abp.Auditing;assembly:Abp" />
		<EntityHistoryAspectProvider xmlns="clr-namespace:Abp.EntityHistory;assembly:Abp" />
		<UnitOfWorkAspectProvider xmlns="clr-namespace:Abp.Domain.Uow;assembly:Abp" />
		<ValidationAspectProvider xmlns="clr-namespace:Abp.Runtime.Validation.Interception;assembly:Abp" />
	</Multicast>
</Project>
