<div>
    <form id="NewTaskForm" role="form">
        <div class="form-group">
            <label for="TaskDescription">Task description</label>
            <textarea id="TaskDescription" data-bind="value: task.description" class="form-control" rows="3" placeholder="Enter description here" required></textarea>
        </div>
        <div class="form-group">
            <label for="TaskAssignedPerson">Assign to</label>
            <select id="TaskAssignedPerson" data-bind="options: people, optionsText: 'name', optionsValue: 'id', value: task.assignedPersonId, optionsCaption: 'Select person'" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button data-bind="click: saveTask" type="submit" class="btn btn-primary">Create the task</button>
    </form>
</div>
