<div>
    <h1><img src="~/App/Main/images/abp-logo.png" style="padding-right: 10px;" />About ASP.NET Boilerplate</h1>
    <p>ASP.NET Boilerplate is a starting point for new web applications with best practices and most popular tools! ASP.NET Boilerplate implements provides an infrastructure for <strong>NLayer architecture</strong> and <strong>Domain Driven Design</strong>.</p>
    <p>For more information, visit <a href="http://www.aspnetboilerplate.com"><strong>aspnetboilerplate.com</strong></a>.</p>
</div>
