<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.1.6.4" targetFramework="net451" />
  <package id="Abp.Application" version="0.1.6.4" targetFramework="net451" />
  <package id="Abp.Web" version="0.1.6.4" targetFramework="net451" />
  <package id="Abp.Web.Api" version="0.1.6.4" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net451" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
</packages>