@using Abp.Web.Mvc.Alerts
@inject IAlertMessageRendererManager AlertMessageRendererManager

@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
}

<h2>Alerts test page</h2>


<div id="AbpPageAlerts">
    @Html.Raw(AlertMessageRendererManager.Render(AlertDisplayType.PageAlert))
</div>


@section scripts{
    <script src="~/lib/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.toastr.js" type="text/javascript"></script>

    @Html.Raw(AlertMessageRendererManager.Render(AlertDisplayType.Toastr))
}