<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.1" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net451" />
</packages>