<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  
  <package id="NJsonSchema" version="1.12.5801.29458" targetFramework="net451" />
  <package id="NSwag.Core" version="1.4.5806.17089" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
</packages>