<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.7.1.0" targetFramework="net451" />
  <package id="Abp.AutoMapper" version="0.7.1.0" targetFramework="net451" />
  <package id="Abp.EntityFramework" version="0.7.1.0" targetFramework="net451" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="EntityFramework.DynamicFilters" version="1.4.1" targetFramework="net451" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net451" />
  <package id="Senparc.Weixin" version="4.2.1" targetFramework="net451" />
  <package id="Senparc.Weixin.MP" version="13.2.1" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net451" />
</packages>