ul.friend-list-brief > a {
  position: relative;
  min-height: 42px;
}
ul.friend-list-brief > a > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
}
ul.friend-list-brief > a > div.user-info {
  margin-left: 34px;
}
ul.friend-list-detailed > li {
  position: relative;
  min-height: 84px;
}
ul.friend-list-detailed > li img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 84px;
  height: 84px;
}
ul.friend-list-detailed > li div.user-info {
  margin-left: 90px;
}
