<div id="applicationHost"></div>
@section styles
{
    @Styles.Render("~/styles/taskever")
}
@section scripts
{
    <script src="~/Scripts/require.js" data-main="@(ApplicationPath)App/Main/main"></script>
}
