<div>
    <h1>About page</h1>
    <p>ASP.NET Boilerplate is a starting point for new web applications with best practices and most popular tools! ASP.NET Boilerplate implements <strong>NLayer architecture</strong> and <strong>Domain Driven Design</strong>.</p>
</div>
