<div>
    <h1>Welcome to My SPA Project!</h1>
    <p class="lead">This project template is a starting point to develop web applicatins using...</p>
    <div class="row">
        <div class="col-md-4">
            <h3>ASP.NET MVC</h3>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. <a href="http://asp.net/mvc">Learn more..</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>ASP.NET Boilerplate</h3>
            <p>
                ASP.NET Boilerplate is a framework to build web based applications with best practices and most popular tools. <a href="http://aspnetboilerplate.com">Learn more..</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3>Durandaljs</h3>
            <p>
                A powerful yet easy-to-learn Single Page Application (SPA) framework. Durandal is built on libs you know and love like jQuery, Knockout and RequireJS. <a href="http://durandaljs.com/">Learn more..</a>
            </p>
        </div>
    </div>
</div>
