<img src="/App/_Common/images/task_add.png" width="16" height="16" style="margin-right: 4px" alt="" />
"<i><b><a data-bind="html: activityInfo.taskTitle, attr: { href: '#task/' + activityInfo.taskId() }"></a></b></i>"
görevi
<a data-bind="html: activityInfo.assignedUserName, attr: { href: '#user/' + activityInfo.assignedUserId() }"></a>
tarafından tamamlandı.
<i class="text-muted"><span data-bind="text: creationTime"></span></i>
