.command-list {
  margin-bottom: 10px;
}
.question-list .question {
  border-bottom: 1px solid #CCC;
}
.question-list .question:first-child {
  border-top: 1px solid #CCC;
}
.question-list .question .vote-count,
.question-list .question .answer-count,
.question-list .question .view-count {
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.question-list .question .answer-count.answered {
  background-color: #dcf2e0;
  color: blue;
}
.question-list .question .summary h3 {
  margin: 5px 0px 10px 0px;
}
.question-list .question .summary h3 .question-id {
  color: #bbb;
}
