@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Exam Center Web Site</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    @Styles.Render("~/styles/base")
    <script type="text/javascript">
        // Must be first. IE10 mobile viewport fix
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    @Scripts.Render("~/scripts/modernizr")
</head>
    <body>
        Welcome to the exam center!
        @Scripts.Render("~/scripts/base")
    </body>
</html>
