<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
 
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Logs.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="5" />
 
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>
 
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>

    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    
  </log4net>
</configuration>