<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.OData" version="5.9.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
</packages>