<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
</packages>