<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Taskever</a>
            </div>
            <div id="MobileMenu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
@*                    <li><a href="#">Home</a></li>*@
                    @*<li><a class="abp-clickable" data-bind="click: createTask">Create new task</a></li>*@
                    <li><a href="#task/create">Create new task</a></li>
                    <li><a data-bind="attr: { href: '#user/' + currentUser.id() }">My profile</a></li>
                    <li><a href="#friends">My friends</a></li>
                    <li><a href="#settings">Settings</a></li>
                    <li><a href="/Account/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs" data-bind="compose: 'viewmodels/briefTaskList'"></div>
            <div class="col-md-6 col-sm-12" data-bind="router: { transition: 'entrance' /*, cacheViews: true */ }"></div>
            <div class="col-md-3 hidden-sm hidden-xs" data-bind="compose: 'viewmodels/briefFriendList'"></div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_Footer.cshtml")
