@model Abp.Web.Mvc.Models.ErrorModel
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Taskever</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="col-lg-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.Title</h3>
                    </div>
                    <div class="panel-body">
                        @Model.Message
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- TODO: Move footer to a pertial page! -->
<div id="footer">
    <div class="container">
        <p class="text-muted">
            Designed and developed by <a href="http://www.halilibrahimkalkan.com">Halil İbrahim Kalkan</a>.
        </p>
    </div>
</div>
