<div id="footer" style="margin-top: 10px">
    <div class="container">
        <p class="text-muted">
            Designed and developed by <a href="http://www.halilibrahimkalkan.com">Halil İbrahim Kalkan</a>.
        </p>
    </div>
</div>
