<configuration>
   <runtime>
      <gcServer enabled="true"/>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
         <bindingRedirect oldVersion="1.0.0.0" newVersion="1.1.0.0" />
       </dependentAssembly>
     </assemblyBinding>
   </runtime>
</configuration>
