@{
    ViewBag.Title = "Taskever - A free social network for task management!";
}
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Taskever</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <section class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Email activation is needed!</h1>
                    </div>
                    <div class="panel-body">
                        <p class="text-primary">An activation email is sent to your email address. Please check your email and click the confirmation link.</p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

@Html.Partial("_Footer")