<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Taskever</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <section class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">What is Taskever</h3>
                    </div>
                    <div class="panel-body">
                        <p>Taskever is free a social network that is used to manage tasks. Here, a few key features of Taskever:</p>
                        <ul>
                            <li>Create and manage your own tasks</li>
                            <li>Show taks of your friends</li>
                            <li>Assign tasks to your friends</li>
                        </ul>
                        @*@Html.Action("LoginBox","Widgets")*@
                    </div>
                </div>
            </section>

            <section class="col-md-4 col-sm-12">

                @Html.Partial("_LoginPanel")

                @Html.Partial("_RegisterPanel")

            </section>

        </div>
    </div>
</div>

@Html.Partial("_Footer")

@section scripts
{
    <script src="~/Scripts/require.js" data-main="/ViewResources/main.js"></script>
    <script>
        require(['/ViewResources/Account/Login.js']);
        //require(['/Widgets/LoginBox/LoginBox.js']);
    </script>
}
