<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Taskever</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">What is Taskever</h3>
                    </div>
                    <div class="panel-body">
                        <p>Taskever is free a social network that is used to manage tasks. Here, a few key features of Taskever:</p>
                        <ul>
                            <li>Create and manage your own tasks</li>
                            <li>Show taks of your friends</li>
                            <li>Assign tasks to your friends</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">

                        <form role="form" action="@Url.Action("Login")" method="POST">
                            <div class="form-group">
                                <input type="email" name="EmailAddress" class="form-control" id="LoginEmailAddress" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" class="form-control" id="LoginPassword" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="RememberMe">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                    </div>
                    <div class="panel-body">

                        <form role="form">
                            <div class="form-group">
                                <input type="text" name="Name" class="form-control" id="RegisterName" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Surname" class="form-control" id="RegisterSurname" placeholder="Enter your surname">
                            </div>
                            <div class="form-group">
                                <input type="email" name="EmailAddress" class="form-control" id="RegisterEmailAddress" placeholder="Enter email">
                            </div>
                            <button type="submit" class="btn btn-default">Register</button>
                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">
            Designed and developed by <a href="http://www.halilibrahimkalkan.com">Halil İbrahim Kalkan</a> and <a href="http://www.google.com">İsmail Çağdaş</a>.
        </p>
    </div>
</div>
