<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net451" />
</packages>