<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@L("MyTasks")</h3>
        </div>
        <ul class="list-group" data-bind="foreach: tasks">
            <li class="list-group-item" data-bind="html: title"></li>
        </ul>
        <div class="panel-footer">
            <a href="#user/1/UserCurrentTasks">@L("SeeAllTasks")</a>
        </div>
    </div>
</section>
