<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@L("MyTasks")</h3>
        </div>
        <ul class="list-group" data-bind="foreach: tasks">
            <li class="list-group-item"><a data-bind="html: title(), attr: { href: '#task/' + id() }" style="color:black;"></a></li> <!-- TODO: Don't use inline style and hard-coded color -->
        </ul>
        <div class="panel-footer">
            <a data-bind="attr: { href: '#user/' + session.getCurrentUser().id() + '?activeSection=UserCurrentTasks' }">@L("SeeAllTasks")</a>
        </div>
    </div>
</section>
