<div class="messageBox autoclose" style="max-width: 425px">
    <div class="modal-header">
        <h3>Create a new task</h3>
    </div>
    <div class="modal-body">

        <form role="form">

            <div class="form-group">
                <label for="NewTaskTitle">Title</label>
                <input type="text" class="form-control" id="NewTaskTitle" placeholder="Enter title" data-bind="value: task.title">
            </div>

            <div class="form-group">
                <label for="NewTaskDescription">Description</label>
                <textarea class="form-control" id="NewTaskDescription" placeholder="Enter description here" data-bind="value: task.description"></textarea>
            </div>

            <div class="form-group">
                <label for="NewTaskPriority">Priority</label>
                <!-- TODO: Get from enumaration -->
                <select id="NewTaskPriority" class="form-control" data-bind="value: task.priority">
                    <option value="1">Low</option>
                    <option value="2">BelowNormal</option>
                    <option value="3">Normal</option>
                    <option value="4">AboveNormal</option>
                    <option value="5">High</option>
                </select>
            </div>

            <div class="form-group">
                <label for="NewTaskPriority">Assign to</label>
                <select id="NewTaskAssignedUserId" class="form-control" data-bind="value: task.assignedUserId, options: users, optionsText: function (item) { return item.name() + ' ' + item.surname(); }, optionsValue: function (item) { return item.id(); }">
                </select>
            </div>

            <button type="submit" class="btn btn-default" data-bind="click: saveNewTask">Create</button>

        </form>

    </div>
</div>
