<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">My friends</h3>
        </div>
        <ul class="list-group" data-bind="foreach: friends">
            <li class="list-group-item"><a href="#user/1"><span data-bind="html: name() + ' ' + surname()"></span></a></li>
        </ul>
    </div>
</section>
