<section>
    <ul class="list-group" data-bind="foreach: friends">
        <li class="list-group-item"><a href="#user/1"><span data-bind="html: name() + ' ' + surname()"></span></a></li>
    </ul>
</section>
