<section>
    <ul class="nav nav-pills" id="FriendshipTabs">
        <li><a href="#MyFriends">My friends</a></li>
        <li><a href="#FriendshipRequests">Friendship Requests</a></li>
        <li><a href="#SentRequests">Sent Requests</a></li>
    </ul>
    <div class="tab-content" style="margin-top: 10px;">
        <div class="tab-pane active" id="MyFriends">
            <ul class="list-group friend-list friend-list-detailed" data-bind="foreach: friendships">
                <li class="list-group-item">
                    <img data-bind="attr: { src: friend.profileImage() }" />
                    <div class="user-info">
                        <a data-bind="attr: { href: '#user/' + friend.id() }">
                            <span data-bind="html: friend.name() + ' ' + friend.surname()"></span>
                        </a>
                        <br/>
                        <input type="checkbox" data-bind="checked: canAssignTask" /> Can assign tasks to me<br/>
                        <input type="checkbox" data-bind="checked: fallowActivities" /> Fallow activities
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="FriendshipRequests"></div>
        <div class="tab-pane" id="SentRequests"></div>
    </div>
</section>
