<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Latest events</h3>
        </div>
        <ul class="list-group" data-bind="foreach: activities">
            <li class="list-group-item" data-bind="compose: 'activityInfo_' + actionName() + '.html'">
            </li>
        </ul>
    </div>
</section>
