<ul class="list-group" data-bind="foreach: tasks">
    <a class="list-group-item" data-bind="attr: { href: '#task/' + id() }">
        <h5 style="font-weight: bold" data-bind="html: title()"></h5>
        <p data-bind="html: description()"></p>
    </a>
</ul>
