<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Task: <span data-bind="html: task.title()"></span></h3>
        </div>
        <div class="panel-body">
            <p data-bind="html: task.description()"></p>
        </div>
    </div>
</section>
