<ul class="list-group" data-bind="foreach: tasks">
    <li class="list-group-item">
        <h5 style="font-weight: bold" data-bind="html: title"></h5>
        <p data-bind="html: description"></p>
    </li>
</ul>
