<section class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">My tasks</h3>
        </div>
        <ul class="list-group" data-bind="foreach: tasks">
            <li class="list-group-item">
                <button type="button" class="btn btn-default pull-right" data-bind="click: $parent.deleteTask">Delete</button>
                <h4><span class="text-muted">[<span data-bind="html: id"></span>]</span> <span data-bind="    html: title"></span></h4>
                <p data-bind="html: description"></p>
            </li>
        </ul>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" data-bind="click: showTaskCreateDialog">+ Create new task</button>
        </div>
    </div>
</section>
