<div class="messageBox" style="width: 380px">
    <div class="modal-header">
        <h3>Create a new task</h3>
    </div>
    <div class="modal-body">
        <form action="/ProfileImage/UploadProfileImage" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile" required><br>
            <button type="submit" class="btn btn-primary">Upload picture</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
    </div>
</div>
