<section>
    <div class="panel panel-default">
        <img src="/App/Main/images/hikalkan.jpg" alt="Halil İbrahim Kalkan" style="margin: 5px" width="60" height="60">
        <div style="position: absolute; top:5px; left:85px">
            <h3>Halil İbrahim Kalkan</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#home">Events</a></li>
                <li><a href="#profile">Current tasks</a></li>
                <li><a href="#messages">Completed tasks</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">events...</div>
                <div class="tab-pane" id="profile">currenttasks...</div>
                <div class="tab-pane" id="messages">completed...</div>
            </div>
        </div>
    </div>


</section>
