@*@inherits System.Web.Mvc.WebViewPage*@
<section>
    <div class="panel panel-default">
        <img src="/App/Main/images/hikalkan.jpg" alt="Halil İbrahim Kalkan" style="margin: 5px" width="60" height="60">
        <div style="position: absolute; top: 5px; left: 85px">
            <h3>Halil İbrahim Kalkan</h3>
        </div>
    </div>
    <ul class="nav nav-pills" id="myTab">
        <li><a href="#UserActivities">Events</a></li>
        <li><a href="#UserCurrentTasks">Current tasks</a></li>
        <li><a href="#UserCompletedTasks">Completed tasks</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="UserActivities">
            <ul class="list-group" style="margin-top: 10px;">
                <li class="list-group-item">
                    <img src="/App/_Common/images/task_complete.png" width="16" height="16" style="margin-right: 4px" /><b>Ahmet</b> "<i>Engin Bey'in emailini cevapla</i>" görevini tamamladı. <i class="text-muted">5 dk önce.</i>
                </li>
                <li class="list-group-item">
                    <img src="/App/_Common/images/task_add.png" width="16" height="16" style="margin-right: 4px" /><b>Halil</b>, <b>İsmail</b> kullanıcısına "<i>Sosyal Medya Projesi için Demo kurulumu</i>" görevini atadı. <i class="text-muted">12 saat önce.</i>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="UserCurrentTasks" data-bind="compose: 'viewmodels/userCurrentTasks'"></div>
        <div class="tab-pane" id="UserCompletedTasks">completed...</div>
    </div>
</section>
