<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Test Ever!!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home page</a></li>
                    <li><a href="#secondpage">Second page</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-bind="router: { /*transition: 'entrance', cacheViews: true*/ }" class="container"></div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">
            Designed and developed by <a href="http://www.halilibrahimkalkan.com">Halil İbrahim Kalkan</a> and <a href="http://www.google.com">İsmail Çağdaş</a>.
        </p>
    </div>
</div>
