<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.1.6.4" targetFramework="net451" />
  <package id="Abp.Infrastructure.NHibernate" version="0.1.6.4" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="FluentMigrator" version="1.1.2.1" targetFramework="net451" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="net451" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net451" />
</packages>