<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.3.1.2" targetFramework="net451" />
  <package id="Abp.Infrastructure.EntityFramework" version="0.3.1.2" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="DynamicQuery" version="1.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
</packages>