<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Abp.Redis.Cache.DatabaseId" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="Abp.Redis.Cache" connectionString="...redis.cache.windows.net,abortConnect=false,ssl=true,password=.." />
  </connectionStrings>
</configuration>