<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
</packages>