<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Core-NLog" version="3.3.0" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.4.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net461" />
  <package id="Castle.Windsor-NLog" version="3.4.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net461" />
  <package id="NLog" version="4.3.11" targetFramework="net461" />
  <package id="NLog.Config" version="4.3.11" targetFramework="net461" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net461" />
  <package id="Rebus" version="3.1.5" targetFramework="net461" />
  <package id="Rebus.Castle.Windsor" version="3.0.0" targetFramework="net461" />
  <package id="Rebus.NewtonsoftJson" version="3.1.5" targetFramework="net461" />
  <package id="Rebus.NLog" version="3.0.0" targetFramework="net461" />
  <package id="Rebus.RabbitMq" version="3.0.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.0.7.3" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net461" />
</packages>