<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net47" />
  <package id="Castle.Core-NLog" version="4.1.1" targetFramework="net47" />
  <package id="Castle.LoggingFacility" version="4.0.0" targetFramework="net47" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net47" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx.Context" version="1.1.0" targetFramework="net47" />
  <package id="Nito.AsyncEx.Coordination" version="1.0.2" targetFramework="net47" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="net47" />
  <package id="Nito.Collections.Deque" version="1.0.0" targetFramework="net47" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="net47" />
  <package id="NLog" version="4.4.1" targetFramework="net47" />
  <package id="NLog.Config" version="4.3.11" targetFramework="net461" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net461" />
  <package id="Rebus" version="4.1.0-b4" targetFramework="net47" />
  <package id="Rebus.CastleWindsor" version="4.0.0" targetFramework="net47" />
  <package id="Rebus.NLog" version="3.0.0" targetFramework="net461" />
  <package id="Rebus.RabbitMq" version="4.0.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.0" targetFramework="net47" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.0.7.7" targetFramework="net47" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="net47" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net461" />
</packages>