<div id="footer" style="margin-top: 10px">
    <div class="container">
        <p class="text-muted">
            Taskever © @(DateTime.Now.Year). Powered by <a target="_blank" href="https://github.com/hikalkan/aspnetboilerplate">ASP.NET Boilerplate</a>.
        </p>
    </div>
</div>
