<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Castle.Windsor-log4net" version="3.2.0.1" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.0" targetFramework="net451" />
</packages>