<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abp" version="0.1.6.4" targetFramework="net451" />
  <package id="Abp.Application" version="0.1.6.4" targetFramework="net451" />
  <package id="AutoMapper" version="3.1.1" targetFramework="net451" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="net451" />
</packages>